.product {
  margin-top: 132px;
}
.heading-secondary {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 18px;
  font-weight: 600;
  @media (max-width: 1024px) {
    font-size: 30px;
  }
}
.product-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.product-wrapper {
  padding: 0 10px;
  margin-bottom: 20px;
  width: 20%;
  @media (max-width: 1160px) {
    width: 25%;
  }
  @media (max-width: 890px) {
    width: 33.33%;
  }
  @media (max-width: 600px) {
    width: 50%;
  }
  @media (max-width: 400px) {
    width: 100%;
  }
}
.product-col {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 12px;
  .product-image {
    img {
      height: 182px;
      width: 100%;
    }
  }
}
.product-price {
  font-weight: 500;
  line-height: 22px;
}
.product-title {
  display: block;
  color: #8b96a5;
  margin-bottom: 18px;
  font-weight: 400;
}
.btn-holder {
  text-align: center;
  .product-btn {
    display: inline-block;
    background: #115e59;
    padding: 8px 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 12px;
    border-radius: 12px;
    transition: background 0.3s ease-in-out;
    &:hover {
      background: #296e6a;
    }
  }
}
